<!DOCTYPE html>
<html>
  <head>
    <title>Genshin Demo 2.0</title>
    <link rel="stylesheet" href="static/css/index.css">
  </head>
  <body>
    <h1>Welcome to Genshin Demo 2.0</h1>
      <div class="profile-photos">
        <a href="/paimon" id="paimon-link"><img src="static/img/paimon.png" class="profile-photo"></a>
        <a href="/shogun"><img src="static/img/shogun.png" class="profile-photo"></a>
        <a href="/zhongli"><img src="static/img/zhongli.png" class="profile-photo"></a>
        <a href="/hutao"><img src="static/img/hutao.png" class="profile-photo"></a>
        <a href="/yae"><img src="static/img/yae.png" class="profile-photo"></a>
      </div>
  </body>
</html>
