<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Genshin Impact Chatbot</title>
    <link rel="stylesheet" href="static/css/background.css">
    <link rel="stylesheet" href="static/css/chat_interface.css">
    <link rel="stylesheet" href="static/css/log_interface.css">
  </head>
  <body>
    <div id="history-container">
      <h1>日志</h1>
      <img src="static/resource/frame.png" alt="Frame Image">
      <div id="history-message"></div>
    </div>
    
    <div id="chat-container">
      <h1>钟离</h1>
      <text>往生堂客卿</text>
      <img src="static/resource/frame.png" alt="Frame Image">
      <div id="message-container"></div>
      <input id="user-input" type="text" placeholder="Type your message here...">
      <button id="toggle-button">查看日志</button>
    </div>
    <video autoplay muted loop id="bg-video-zhongli">
      <source src="static/resource/zhongli.mp4" type="video/mp4">
    </video>
    
    <script src="static/js/chat_no_mouse_follow.js"></script>
  </body>
</html>
